{% extends "layouts/admin_base.html" %} {% block content %}
<div>
  <form class="form-horizontal" method="post" action="/admin/profile">
    {{ form.hidden_tag() }}
    <div class="form-group">

      <div class="col-sm-10">
        <label>First Name</label>
        {{ form.first_name(class_="form-control") }}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10">
        <label>Last Name</label>
        {{ form.last_name(class_="form-control") }}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10">
        <label>Email</label>
        {{ form.email(class_="form-control") }}
      </div>
    </div>
    <div id="password-field" class="form-group">
      <div class="col-sm-10">
        <label>Password</label>
        {{ form.password(class_="form-control", placeholder="Enter new password...") }}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
  <p>Change password? Click
    <span onclick="showPasswordField()" class="show-password-field">
      <strong>Here</strong>
    </span>
  </p>
</div>
<script>
  function showPasswordField() {
    if ($("#password-field").css('display') == 'none') {
      $('#password-field').show();
    }else {
      $('#password-field').hide();
    }
  }
</script> {% endblock %}