@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Cabin:400|Lobster);
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    color: rgb(0, 153, 204);
    padding-top: 10px;
    padding-bottom: 10px;
}

.custom-sub {
    top: 70%;
    left: 18%;
    font-family: 'Lobster';
    color: white;
    font-size: 2.5em;
    text-align: center;
}

.line-one, .line-two {
    padding: 5px;
    width: 320px;
    background-color: rgba(0,0,0,0.5);
}

.line-two {
    margin-left: 40px;
}

.textWrapper {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.roomsTextDiv {
    height: 100%;
}

.halfRoomsTextDiv {
    height: 100%;
    padding-top: 70px;
    transition: all 0.5s ease;
}

.halfRoomsTextDiv:hover {
    background-color: #f7f7f7;
}

p {
    line-height: 25px;
}

body {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
}

#logo {
    float: left;
    height: 100px;
}

.mainBodyContent {
    margin-left: auto;
    margin-right: auto;
}

.bodyDivider {
    height: 100px;
    background: rgb(0, 153, 204);
    color: white;
}

.bodyDivider2 {
    height: 100px;
    background: rgb(0, 153, 204);
    color: white;
    text-align: center;
    padding-top: 10px;
}

.bodyDivider2 h2 {
    color: white;
}


/*flipper*/


/* entire container, keeps perspective */

.flip-container1,
.flip-container2,
.flip-container3 {
    perspective: 1000;
    height: 100%;
    background-color: rgb(0, 123, 171);
}


/* flip the pane when hovered */

.flip-container1:hover .flipper1,
.flip-container1:hover .flipper1,
.flip-container2:hover .flipper2,
.flip-container2:hover .flipper2,
.flip-container3:hover .flipper3,
.flip-container3:hover .flipper3 {
    transform: rotateY(180deg);
}

.flip-container1,
.front1,
.back1,
.flip-container2,
.front2,
.back2 {}


/* flip speed goes here */

.flipper1,
.flipper2,
.flipper3 {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: absolute;
    width: 100%;
    height: 100%;
}


/* hide back of pane during swap */

.front1,
.back1,
.front2,
.back2,
.front3,
.back3 {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}


/* front pane, placed above back */

.front1,
.front2,
.front3 {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    height: 100%;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}


/* back, initially hidden pane */

.back1,
.back2,
.back3 {
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.front1 h1,
.front2 h1,
.front3 h1 {
    color: white;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    text-align: center;
    text-shadow: 2px 2px 8px #000;
}

.front1 img,
.front2 img,
.front3 img,
.back1 img,
.back2 img,
.back3 img {
    height: 100%;
    width: 100%;
}

.back1 p,
.back2 p,
.back3 p {
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 30%;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: 400;
}

.knowMoreDiv {
    position: absolute;
    left: 0;
    right: 0;
    top: 60%;
    text-align: center;
    margin-bottom: 200px;
}

.back1 a,
.back2 a,
.back3 a {
    background: none;
    color: white;
    font-family: 'Cabin', sans-serif;
    font-size: 25px;
    font-weight: 400;
    border-radius: 0px;
    transition: all 0.5s ease;
    padding-top: 12px;
}

.back1 a:hover,
.back2 a:hover,
.back3 a:hover {
    background-color: #FFCC00;
    color: white;
    border-color: #FFCC00;
}


/* end flipper */

.btnFindOutMore {
    background-color: white !important;
    color: #aeaeae;
    font-family: 'Cabin', sans-serif;
    font-size: 25px;
    font-weight: 400;
    border-radius: 0px;
    transition: all 0.5s ease;
    border-color: #a0a0a0;
    padding: 12px;
    position: absolute;
    bottom: 10%;
    width: 60%;
    right: 20%;
    border-color: #aeaeae;
}

.roomsGallery {
    overflow: hidden;
}

.btnFindOutMore:hover {
    background-color: #FFCC00 !important;
    color: white;
    border-color: #FFCC00;
}

.footer {
    color: white;
}

.dividerOne {
    height: 100%;
    text-align: center;
}

.dividerOne h3 {
    color: white;
}

.dividerTwo,
.dividerTwo h3 {
    padding-top: 10px;
    text-align: right;
    color: white;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

#Carousel {
    z-index: -1;
}

.aboutUsTextDiv {
    text-align: center;
    height: 100%;
}

.thumb1,
.thumb2,
.thumb3,
.thumb4 {
    overflow: hidden;
    float: left;
}

.thumb1 img,
.thumb2 img,
.thumb3 img,
.thumb4 img {
    transition: all 0.5s ease;
    height: 100%;
    width: 100%;
}

.thumb1 img:hover,
.thumb2 img:hover,
.thumb3 img:hover,
.thumb4 img:hover {
    height: 120%;
    width: 120%;
    opacity: 0.7;
}

.roomsText {
    height: 100%;
    text-align: center;
}

.aboutUsImage {
    background-image: url(../images/layout/diving2.jpg);
    height: 100%;
    background-size: 100% 100%;
}

div.container4 {
    position: relative;
}

div.container4 img {
    width: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.parallax-window {
    min-height: 1500px;
    background: transparent;
}

.footer {
    background-color: #292c2f;
    padding: 10px 50px 10px 50px;
}

.footer .socialIcons {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer p {
    margin: 0;
}

.footer .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divArrow {
    padding-top: 30px;
}

.arrowDown a {
    color: white;
    transition: all 0.5s ease;
}

.arrowDown a:hover,
.arrowDown a:active {
    text-decoration: none;
    color: #FFCC00;
}

.iconSocial a {
    color: white;
    transition: all 0.5s ease;
}

.iconSocial a:hover {
    color: #FFCC00;
    cursor: pointer;
    text-decoration: none;
}


/*MEDIA QUERY FOR MOBILE NAVBAR*/

@media only screen and (min-width: 320px) and (max-width:479px) {
    .aboutUsWrapperDiv {
        height: 450px;
    }
    .aboutUsImage {
        height: 0;
    }
    .aboutUsTextDiv {
        padding-top: 20px;
        height: 450px;
    }
    .thumbSize {
        height: 200px;
        width: 100%;
    }
    .bodyDivider2 h2 {
        font-size: 20px;
    }
    .btnFindOutMore {
        font-size: 20px;
    }
    .halfRoomsTextDiv {
        padding-top: 15px;
        height: 450px;
    }
    .knowMoreDiv {
        top: 70%;
    }
    .back1 p, .back2 p, .back3 p {
        top: 20%;
    }
    .dividerTwo h3 {
        margin-top: 10px;
        font-size: 16px;
        text-align: center;
    }
    .dividerTwo {
        text-align: center;
    }
    .sayingAboutUs {
        height: 130px;
        text-align: center;
    }
    .divIcons {
        padding: 0;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .aboutUsWrapperDiv {
        height: 350px;
    }
    .aboutUsImage {
        height: 0;
    }
    .aboutUsTextDiv {
        padding-top: 0px;
        height: 350px;
    }
    .roomsTextDiv {}
    .thumbSize {
        height: 200px;
        width: 100%;
    }
    .halfRoomsTextDiv {
        padding-top: 15px;
        height: 400px;
    }
    .roomTextWrapper {
        width: 80%;
        margin: auto;
    }
    .dividerTwo h3 {
        margin-top: 10px;
        font-size: 20px;
        text-align: center;
    }
    .dividerTwo {
        text-align: center;
    }
    .sayingAboutUs {
        height: 140px;
        text-align: center;
    }
    .divIcons {
        padding: 0;
    }
}

@media screen and (min-width:768px) and (max-width: 991px) {
    .aboutUsWrapperDiv,
    .aboutUsImage {
        height: 350px;
    }
    .aboutUsTextDiv {
        padding-top: 0px;
    }
    .halfRoomsTextDiv h1,
    .textWrapper h1 {
        font-size: 28px;
    }
    .btnFindOutMore {
        font-size: 18px;
    }
    .aboutUsTextDiv p {
        font-size: 14px;
    }
    .halfRoomsTextDiv {
        height: 400px;
        padding-top: 40px;
    }
    .thumbSize {
        height: 300px;
        width: 100%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .aboutUsWrapperDiv {
        height: 350px;
    }
    .textWrapper {
        margin-top: 30px;
    }
    .btnFindOutMore {
        font-size: 20px;
    }
    .aboutUsTextDiv p,
    .roomTextPara {
        font-size: 14px;
    }
    .roomTextWrapper {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .thumbSize {
        height: 250px;
    }
    .halfRoomsTextDiv {
        padding-top: 10px;
        height: 500px;
    }
    .halfRoomsTextDiv h1,
    .textWrapper h1 {
        font-size: 28px;
    }
    .roomsWrapperDiv {
        height: 500px;
    }
    .knowMoreDiv {
        top: 70%;
    }
    .back1 p,
    .back2 p,
    .back3 p {
        font-size: 18px;
        top: 20%;
    }
}

@media only screen and (min-width: 1200px) {
    .aboutUsWrapperDiv {
        height: 450px;
    }
    .textWrapper {
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        margin-top: 10%;
    }
    .thumbSize {
        height: 300px;
        width: auto;
    }
    .roomsWrapperDiv {
        height: 600px;
    }
    .roomsTextDiv {}
    .roomTextWrapper {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}