html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
}

@import url(https://fonts.googleapis.com/css?family=Cabin|Lobster);
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    color: rgb(0, 153, 204);
    padding-top: 10px;
    padding-bottom: 10px;
}

.blue {
    color: rgb(0, 153, 204);
}

.txt-script {
    font-family: 'Lobster' !important;
}

.bodyWrapper {
    background-image: url(../images/layout/pageBackground.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    padding-top: 150px;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.transparentDiv {
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
    width: 1000px;
    height: 100%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, .8);
}

#logo {
    float: left;
    height: 100px;
}

.navbar-header {
    color: white;
    font-family: Lobster;
    font-weight: 400;
    font-size: 30px;
    color: #FFCC00;
}

.navbar-header img {
    height: 100px;
    transition: all 0.5s ease;
}

a.navbar-brand {
    color: #FFCC00 !important;
    font-weight: 400;
    font-size: 30px;
    font-family: 'Lobster', cursive;
    line-height: 70px;
    transition: all 0.5s ease;
}

a.navbar-brand:hover {
    color: white !important;
    letter-spacing: 1px;
}

.navbar {
    background-color: transparent;
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    font-size: 18px;
    transition: opacity 0.5s ease;
    opacity: 1;
    height: 100px;
    transition: all 0.5s ease;
    box-shadow: 0;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}

ul.nav li a {
    color: white !important;
    text-decoration: none;
    transition: all 0.5s ease;
    line-height: 70px;
}

.navbar-default .navbar-nav>.open>a:focus {
    background: transparent;
}

ul.nav li a:hover {
    text-decoration: none;
    color: #FFCC00 !important;
}

.dropdown-menu {
    margin-top: -20px!important;
    margin-right: -1px !important;
    background-color: rgba(255, 255, 255, 0.8)!important;
}

.dropdown .dropdown-menu a {
    color: rgb(0, 153, 204) !important;
    line-height: 40px;
}

.dropdown:hover .dropdown-menu a {
    color: rgb(0, 153, 204) !important;
}

.scrolled {
    background: rgba(0, 153, 204, 0.8);
    height: 60px;
    line-height: 10px !important;
    box-shadow: 0px 1px 20px 1px;
    color: rgba(0, 0, 0, 0.5);
}

.scrolled .navbar-brand {
    line-height: 30px;
}

.scrolled .navbar-header img {
    height: 60px;
}

.scrolled .dropdown-menu {
    line-height: 5px!important;
    margin-top: 0px!important;
}

.scrolled ul.nav li a {
    color: white;
    line-height: 30px;
}

.footer {
    color: white;
}

.footer {
    background-color: #292c2f;
    padding: 10px 50px 10px 50px;
}

.footer .socialIcons {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}


/* SHARED CSS FOR CONTENT PAGES */

p {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    line-height: 25px;
    font-size: 16px;
}

.titleDiv {
    background: rgba(0, 153, 204, 0.8);
}

.pageTitle {
    color: white;
}

.pageBlueSubTitle {
    font-size: 20px;
    color: rgb(0, 153, 204);
}

.pageYellowSubTitle {
    color: rgb(0, 153, 204);
    font-weight: 400 !important;
    font-size: 40px !important;
    font-family: 'Lobster', cursive;
}


/* END SHARED CSS FOR CONTENT PAGES */


/*ABOUT US CSS QUERIES */

.aboutUsBanner {
    width: 100%;
}

.divider {
    height: 400px;
    width: 5px;
    padding: 0px;
    margin-top: 80px;
    background-color: rgb(0, 153, 204);
}

.aboutUsSubTitle {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 700;
}

.aboutUsColWrapper {
    padding: 30px;
    padding-top: 0px;
}

.aboutUsRowWrapper {
    margin-top: 30px;
}


/*END OF ABOUT US CSS */
.carousel-inner {
    max-height: 100vh;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    width: 100%;
}

.carousel-control {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-control {
    width: 10%;
}

.custom-sub {
    position: absolute;
    z-index: 999;
}

/*CONTACT US CSS QUERIES */

.googleMap {
    margin: 0 auto;
    overflow: hidden;
    height: 350px;
    width: 90%;
}

#gmap_canvas {
    height: 350px;
    width: 100%;
}

#gmap_canvas img {
    max-width: none!important;
    background: none!important
}

.googleMapDiv {
    margin-top: 20px;
}

.contactInfoRow {
    margin-top: 40px;
    padding-left: 35px;
    padding-right: 35px;
}

.error-msg-text {
    margin-left: 5px;
    color: red;
    font-size: 16px;
}

/* Banner that appears on top when message has been sent */
.success-banner {
    padding: 5px;
    margin-top: 15px;
    font-size: 18px;
    color: green;
}


/*END OF CONTACT US CSS QUERIES */

.package-pdf {
    width: 100%;
    height: 70vh;
}


/*MEDIA QUERY FOR MOBILE NAVBAR*/

@media screen and (max-width:767px) {
    .navbar-collapse ul li a:hover,
    .navbar-collapse ul li a:focus {
        color: #0080aa !important;
        background-color: rgba(255, 255, 255, 0.5) !important;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: white;
    }
    .navbar-default .navbar-toggle:hover {
        background: rgba(255, 255, 255, 0.2) !important;
    }
    .navbar-default .navbar-toggle:focus {
        background: rgba(255, 255, 255, 0.2);
    }
    .dropdown-menu,
    .scrolled .dropdown-menu {
        margin-top: 0!important;
    }
    .navbar-header img,
    .scrolled .navbar-header img {
        height: 50px;
        margin-left: 20px;
        margin-top: 10px;
    }
    .navbar-header,
    .scrolled .navbar-header {
        font-size: 25px;
    }
}


/*END OF MEDIA QUERY FOR MOBILE NAVBAR*/

@media only screen and (min-width: 320px) and (max-width:479px) {
    .transparentDiv {
        width: 100%;
        height: 100%;
    }
    /*ABOUT US CSS QUERIES */
    .divider {
        height: 5px;
        width: 85%;
        margin: 0 auto;
    }
    .aboutUsBanner {
        height: 150px;
    }
    /*END OF ABOUT US CSS QUERIES */
    /*CONTACT US CSS QUERIES */
    .contactWrapper {
        width: 200px;
        margin: 0 auto;
    }
    .contactPageBlueSub {
        font-size: 30px;
    }
    .contacFormCol {
        margin-top: 40px;
    }
    .contactInfo {
        margin-top: 20px;
    }
    /*END OF CONTACT US CSS QUERIES */
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .transparentDiv {
        width: 100%;
        height: 100%;
    }
    /*ABOUT US CSS QUERIES */
    .divider {
        height: 5px;
        width: 85%;
        margin: 0 auto;
    }
    .aboutUsBanner {
        height: 150px;
    }
    /*END OF ABOUT US CSS QUERIES */
    /*CONTACT US CSS QUERIES */
    .contactWrapper {
        width: 200px;
        margin: 0 auto;
    }
    .contactPageBlueSub {
        font-size: 30px;
    }
    .contacFormCol {
        margin-top: 40px;
    }
    .contactInfo {
        margin-top: 20px;
    }
    /*END OF CONTACT US CSS QUERIES */
}

@media screen and (max-width:767px) {
    .navbar {
        background: rgba(0, 153, 204, 0.8);
        height: 60px;
        line-height: 10px !imporant;
        box-shadow: none;
    }
    button.navbar-toggle {
        margin-top: 10px;
        border: none;
        color: white !important;
        line-height: 30px !important;
    }
    a.navbar-brand {
        line-height: 40px;
    }
    .navbar-collapse {
        text-align: center;
        margin-top: px;
        border: none;
        background: rgba(0, 153, 204, 0.8);
    }
    .navbar-collapse ul li a {
        line-height: 30px !important;
    }
    .navbar-collapse ul li a:hover {
        color: #0080aa !important;
        background-color: rgba(255, 255, 255, 0.5) !important;
    }
    .scrolled {
        background: rgba(0, 153, 204, 0.8);
        height: 60px;
        line-height: 10px !imporant;
        box-shadow: none;
    }
    .scrolled ul.nav li a {
        color: white;
        line-height: 30px;
    }
}

@media screen and (min-width:768px) and (max-width: 991px) {
    .transparentDiv {
        height: 100%;
        width: 768px;
    }
    .navbar-header {
        font-size: 20px;
    }
    .navbar-header img {
        height: 70px;
        margin-top: 10px;
    }
    .navbar {
        font-size: 13px;
    }
    ul.nav li a {
        line-height: 50px;
    }
    .scrolled .navbar-header img {
        margin-top: 0px;
    }
    /*ABOUT US CSS QUERIES */
    .divider {
        height: 5px;
        width: 85%;
        margin: 0 auto;
    }
    .aboutUsBanner {
        height: 200px;
    }
    /*END OF ABOUT US CSS QUERIES */
    /*CONTACT US CSS QUERIES */
    .contacFormCol {
        margin-top: 40px;
    }
    /*END OF CONTACT US CSS QUERIES */
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    /*ABOUT US CSS QUERIES */
    .aboutUsBanner {
        height: 300px;
    }
    /*END OF ABOUT US CSS QUERIES */
    /*CONTACT US CSS QUERIES */
    .contactSubTitle {
        padding-left: 10px;
    }
    .contactInfoCol {
        padding-left: 20px;
    }
    /*END OF CONTACT US CSS QUERIES */
    .transparentDiv {
        width: 992px;
    }
}

@media only screen and (min-width: 1200px) {
    /*ABOUT US CSS QUERIES */
    .aboutUsBanner {
        height: 300px;
    }
    /*END OF ABOUT US CSS QUERIES */
    /*SHARED CSS FOR CONTENT PAGES */
    .pageTitle {
        padding-left: 35px;
    }
    .transparentDiv {
        width: 1200px;
    }
    /*END SHARED CSS FOR CONTENT PAGES*/
    /*CONTACT US CSS QUERIES */
    .contactSubTitle {
        padding-left: 10px;
    }
    .contactInfoCol {
        padding-left: 20px;
    }
    /*END OF CONTACT US CSS QUERIES */
    .mainContent {
        padding: 50px;
        padding-top: 60px;
    }
}

.restobg {
    background-image: url(../images/layout/RestoBG.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 700px;
}

.resto-main-title-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resto-dish-title-section {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.dish-items-row {
    width: 100%;
    padding-bottom: 40px;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}

.dish-type {
    height: 15px;
}

.dish-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.sub-title {
    width: 300px;
}

.dish-sub-title {
    height: 20px;
    width: 100px;
}

.resto-slogan {
    padding: 30px;
    color: white;
    font-size: 25px;
    font-family: 'Lobster', cursive;
}
