
.center-wrapper-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-flex-wrapper {
    background: #E1E1E1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-detail-form {
    margin-top: 10px;
    flex-direction: column;
    width: 80%;
    border-radius: 50px;
}

.room-price-form {
    margin-top: 20px;
    flex-direction: column;
    width: 500px;
    border-radius: 50px;
}

.room-price-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.main-details-form {
    display: flex;
    font-size: 16px;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.upload-form-wrapper {
  margin: 10px;
}



.add-room-form-style {
  background: grey;
  border-radius: 20px;
  margin-top: 15px;
  padding: 5px;
}

#password-field {
  display: none;
}
.show-password-field:hover {
  cursor: pointer;
}