.mainContent {
    display: flex;
    flex-direction: column;
}

.transparentDiv {
    display: flex;
    flex-direction: column;
}

.rm-wrapper {
    display: flex;
    flex: 1;
    margin: 15px 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    background: #fff;
    font-size: 16px;
}

.rm-wrapper:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .6);
}

.rm-wrapper h3 {
    margin: 0;
    padding: 0;
    color: white;
}

.rm-img-wrapper img {
    height: 300px;
}

.rm-img-wrapper img:hover {
    opacity: 0.5;
    transition: 0.5s ease all;
}

.rm-img-wrapper {
    width: 350px;
    overflow: hidden;
    cursor: pointer;
    background-color: black;
}

.rm-desc-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.rm-title {
    background-color: rgba(0, 153, 204, 0.8);
    color: white;
    display: flex;
    border-bottom: 1px solid #e3e3e3;
}

.rm-title-txt, .rm-title-price {
    padding: 15px;
}

.rm-title-txt {
    flex: 1;
    border-right: 1px solid #e3e3e3;
}

.rm-title-price {
    font-size: 20px;
}

.rm-desc-body {
    padding: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.rm-include {
    flex: 1;
    padding: 10px;
}

.rm-include ul{
    list-style-type: disc;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    list-style-position: inside;
    list-style-type: disc;
}

.rm-include ul li {
    float: left;
    width: 50%;
}