{% extends "layouts/admin_base.html" %} {% block content %}
<div class="container col-xs-7 col-md-5 col-sm-offset-4 col-xs-offset-2">
    <form class="form-horizontal" method="post" action="/auth/login">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <div class="col-sm-10">
                <label>Email:</label>
                {{ form.identity(class_="form-control") }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10">
                <label>Password:</label>
                {{ form.password(class_="form-control") }}
                {% if form.errors %}
                <span style="color: red;">
                    {% for error in form.errors %}
                        {{ error|title }} field is required!<br/>
                    {% endfor %}
                </span>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
    <a href="{{ url_for('auth.begin_password_reset') }}">Forgot Password</a>
</div>
{% endblock %}