{% extends "layouts/admin_base.html" %} {% block content %}
<div>
    <h2 class="text-center">Password Reset</h2>
    <form class="form-horizontal" method="post" action="/auth/password_reset">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <div class="col-sm-10">
                {{ form.password(class_="form-control") }}
                {% if form.errors %}
                <span style="color: red;">
                    {% for error in form.errors %}
                        {{ error|title }} field is required!<br/>
                    {% endfor %}
                </span>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}