{% extends "layouts/admin_base.html" %} {% block content %}
<div>
    <form class="form-horizontal" method="post" action="/auth/register">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <div class="col-sm-10">
                {{ form.email(class_="form-control") }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10">
                {{ form.password(class_="form-control") }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10">
                {{ form.first_name(class_="form-control") }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10">
                {{ form.last_name(class_="form-control") }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}