<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sabang Inn</title>
  <link href="{{ url_for('static', filename='styles/vendor/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='styles/vendor/lightbox.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='styles/vendor/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='styles/main-style.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='styles/home-style.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='styles/apartment-style.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='styles/room-style.css') }}" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="{{ url_for('static', filename='images/logo.png') }}" /> Sabang Inn
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('website.index') }}">HOME</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ABOUT <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('website.about_us') }}">About Sabang Inn</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ACCOMODATIONS <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('website.rooms') }}">Rooms</a></li>
                        <li><a href="{{ url_for('website.apartments') }}">Apartments</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('website.diving') }}">DIVING</a></li>
                <li><a href="{{ url_for('website.restaurant') }}">RESTAURANT</a></li>
                <li><a href="{{ url_for('website.packages') }}">PACKAGES</a></li>
                <li><a href="{{ url_for('website.contact_us') }}">CONTACT US</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
  {% block content %} 
  
  {% endblock %}
</div>
  <section class="container-fluid footerSection"> 
            <div class="container-fluid footer">
                <div class="row footer-top text-center">
                    <p class="footerLinks" style="margin: 15px 0 7px;">
                        <a href="#" style="color:#92C4E2">Home</a> ·
                        <a href="#" style="color:#92C4E2">Directions</a> ·
                        <a href="#" style="color:#92C4E2">Diving</a> ·
                        <a href="#" style="color:#92C4E2">Terms & Conditions</a>
                    </p>
                </div>
                <div class="row footer-main">
                    <div class="col-lg-12 footerCenter" style="text-align:center;">
                        <div class="col-lg-4" style="padding-top: 15px">
                            <img src="{{ url_for('static', filename='images/logo.png') }}" class="animated bounce" style="height:60px; margin-bottom:5px;" />
                            <p class="footerCompanyName" style="color:#292C2F">Sabang Inn &copy; 2018</p>
                        </div>
                        <div class="col-lg-4">
                            <div class="row">
                                <div class="col-lg-2" style="margin-top:10px;"><i class="fa fa-map-marker socialIcons"></i></div>
                                <div class="col-lg-8">
                                    <p>Sabang Beach, Puerto Galera</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2"><i class="fa fa-phone socialIcons" style="margin-bottom:10px"></i></div>
                                <div class="col-lg-8">
                                    <p>+63 917 572 6123</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2"><i class="fa fa-envelope socialIcons"></i></div>
                                <div class="col-lg-8">
                                    <p><a href="mailto:info@sabanginn.com" style="color:#92C4E2">info@sabanginn.com</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="row" style="margin-top:-5px;">
                                <div class="col-lg-12">
                                    <p style="text-align:center">Follow Us</p>
                                    <a href="https://www.facebook.com/sabanginn.diverdream"><i class="fa fa-facebook socialIcons"></i></a>
                                </div>
                                <div class="col-lg-12" style="margin-top:15px; text-align:center;">
                                    <div class="col-lg-12">
                                        <p>Designed By: <a style="color:#92C4E2">Code Sage Solutions</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <script src="{{ url_for('static', filename='scripts/vendor/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/vendor/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/vendor/lightbox.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/helpers.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/navbar.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/vendor/wow.min.js') }}"></script>
    <script>
        $('.flip').mouseover(function () {
            $(this).find('.card').addClass('flipped').mouseleave(function () {
                $(this).removeClass('flipped');
            });
            return false;
        });
    </script>
</body>
</html>