{% extends "layouts/admin_base.html" %} {% block content %}
<div class="row justify-content-between align-items-center">
  <div class="col">
    <h1 class="display-4">Manage Rooms</h1>
  </div>
  <div class="col text-right">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"> Add Room </button>
    <button id="update-rooms-list-btn" class="btn btn-danger center-block" disabled>Remove Rooms </button>
  </div>
</div>
  <table id="del-rooms-chkbox" class="table table-hover mouse-pointer">
    <thead class="thead-light">
      <tr>
        <th> Name </th>
        <th> Description </th>
        <th> Info </th>
        <th> View </th>
        <th> Delete </th>
      </tr>
    </thead>
    <tbody>
      {% for room in room_list %}
      <tr>
        <td> {{ room.name }} </td>
        <td> {{ room.description }} </td>
        <td> {{ room.info }} </td>
        <td>
          <button class="btn btn-primary" onclick="window.location.href='/admin/room/room_detail/{{room.id|safe}}'">View</button>
        </td>
        <td>
          <input type="checkbox" id="chk-box-room-del" value="{{room.id}}">
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
<!-- Modal -->
  <div id="myModal" class="modal" tabindex="-1" role="dialog">
    <form id="add-room-form">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Room</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group row">
              <label  class="col-sm-2 col-form-label">Room</label>
              <div class="col-sm-10">
                <input type="email" id="room-name-input" class="form-control" placeholder="Room Name...">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" id="btn-room-add" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </form>
  </div>

<script>
  $(document).ready(function () {
    let selectedRooms = [];
    const updateRoomsBtns = document.getElementById('update-rooms-list-btn');
    const addRoomBtn = document.getElementById('btn-room-add');
    const roomNameInput = document.getElementById('room-name-input');

    addRoomBtn.addEventListener('click', function submitAddRoom(e) {
      e.preventDefault();
      if (roomNameInput.value !== "") {
        $.ajax({
          type: 'POST',
          url: '/admin/room/api/v1/add_room',
          headers: {
            "X-CSRFToken": $('meta[name=csrf-token]').attr('content'),
            'Content-Type': 'application/json'
          },
          data: JSON.stringify({
            formType: 'add_room',
            data: {
              name: roomNameInput.value,
              price: 1200,
              desc: "This is great",
              info: "This is awesome"
            },
          }),
          success: function (response) {
            if (response.success) {
              location.reload()
            }
            else {
              alert('MISSING PARAMS')
            }

          },
          error: function (error) {
            console.log(error);
          }
        })
      } else {
        console.log("CATCH ERROR")
      }
    })

    updateRoomsBtns.addEventListener('click', function submitBtn() {
      console.log('BUTTON SUBMIT', selectedRooms)
      $.ajax({
        type: 'POST',
        url: '/admin/room/api/v1/delete_room',
        headers: {
          "X-CSRFToken": $('meta[name=csrf-token]').attr('content'),
          'Content-Type': 'application/json'
        },
        data: JSON.stringify({
          formType: 'delete_rooms',
          data: selectedRooms
        }),
        success: function (response) {
          if (response.success) {
            location.reload()
          }
          else {
            alert('MISSING PARAMS')
          }

        },
        error: function (error) {
          console.log(error);
        }
      })

    });

    let chkboxCount = 1; // Used to dynamically name checkbox ID
    $("#del-rooms-chkbox :input[type=checkbox]").each(function () {
      $(this).attr('id', 'chkbox-id-' + chkboxCount);

      console.log($(this).attr('id'));
      $(this).bind('change', function () {


        if ($(this)[0].checked) {
          let object = {
            roomID: $(this)[0].value,
            checked: $(this)[0].checked
          }
          selectedRooms.push(object);
          object = {};
        } else {
          for (var i = 0, len = selectedRooms.length; i < len; i++) {
            if ($(this)[0].value == selectedRooms[i].roomID) {
              selectedRooms.splice(i, 1);
            }

          }
        }
        if (selectedRooms.length == 0) {
          $('#update-rooms-list-btn').attr('disabled', true);
        }
        if (selectedRooms.length > 0) {
          $('#update-rooms-list-btn').attr('disabled', false);
        }
        console.log('END', selectedRooms)
      });
      chkboxCount++;
    });
  })

</script> {% endblock %}