{% extends "layouts/admin_base.html" %} {% block content %}
<script src="{{ url_for('static', filename='scripts/room-detail-html.js') }}"></script>
  <h1 class="display-4">Room Details - <span class="text-primary">{{room.name}}</span></h1>
  <br/>
  <div class="row">
    <div class="col">
      <div class="card">
        <h5 class="card-header bg-dark text-light">Update Room Information</h5>
        <div class="card-body">
          <h5 class="card-title">Main Details</h5>
          <form>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Room Name</label>
              <div class="col-sm-10">
                <input type="text" value="{{room.name}}" id="room-name" class="form-control" placeholder="Enter room name..." aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Description</label>
              <div class="col-sm-10">
                <input type="text" value="{{room.description}}" id="room-desc" class="form-control" placeholder="Enter room description..."
                aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Info</label>
              <div class="col-sm-10">
                <input type="text" value="{{room.info}}" id="room-info" class="form-control" placeholder="(optional) - Add additional info..."
                aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="text-right">
              <button type="submit" id="update-room-info-btn" class="btn btn-primary">Update Details</button>
            </div>
            <input value="{{room.id}}" id="room-id" hidden />
          </form>
        </div>
        <div class="card-body" style="border-top: 1px solid rgba(0,0,0,.125);">
          <h5 class="card-title">Price</h5>
          <form id="room-prices-form">
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Price</label>
              {% for price in room.prices %}
                <div class="col-sm-10">
                  <input type="text" class="form-control" value="{{price.price}}" id="room-price" aria-describedby="basic-addon1">
                </div>
                <input type="checkbox" id="chk-box-price-del" hidden>
                <input value="{{price.price_id}}" id="room-price-id" hidden />
              {% endfor %}
            </div>
            <div class="text-right">
              <button type="submit" id="btn-room-price-update" class="btn btn-primary">Update Prices</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-dark text-light" style="display: flex; justify-content: space-between; align-items: center;">
          <h5 style="margin-bottom: 0">Room Items</h5>
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal2">Add Item</button>
        </div>
        <div class="card-body">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="far fa-trash-alt"></i>
              </div>
            </div>
            <input type="text" class="form-control" placeholder="Item Name" readonly>
          </div>
          <form id="room-items-form">
            {% for x in room['items'] %}
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" id="chk-box-item-del">
                  </div>
                </div>
                <input type="text" value="{{x.item}}" id="room-item-input" class="form-control" placeholder="Item name" aria-describedby="basic-addon1">
              </div>
              <input value="{{x.item_id}}" id="room-item-input-id" hidden/>
            {% endfor %}
            <div class="text-right">
              <button type="submit" id="btn-update-room-items" class="btn btn-primary">Update Items</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header bg-dark text-light" style="display: flex; justify-content: space-between; align-items: center;">
          <h5 style="margin-bottom: 0">Room Items</h5>
          <form id="file-form">
            <input type="file" style="display: none;" id="file-select" class="form-control" name="pdf" aria-describedby="basic-addon1"/>
          </form>
         <button class="btn btn-success" onclick="document.getElementById('file-select').click();" id="test-open">Add Image</button>
        </div>
        <div class="card-body" id="del-room-img-chkbox">
          {% for image in room['images'] %}
          <div class="row" style="margin-bottom: 10px;">
            <div class="col-1">
              <input type="checkbox" id="chk-box-room-del" value="{{image.image_id}}" data-url="{{image.img_url}}">
            </div>
            <div class="col-11">
              <img src="{{ image.img_url }}" style="max-width: 300px;" alt="Image preview...">
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="card-body" style="border-top: 1px solid rgba(0,0,0,.125);">
          <h5 class="card-title">Image Preview</h5>
          <img id="img-preview" style="max-width: 300px; margin-bottom: 20px;" alt="Image preview..." />
          <div class="text-right">
            <button type="button" id="upload-button" class="btn btn-primary">Upload Image</button>
            <button class="btn btn-danger" id="btn-update-room-images" disabled>Remove Images</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="myModal2" class="modal" tabindex="-1" role="dialog">
    <form id="room-items-form">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Items</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Item</label>
              <div class="col-sm-10">
                <input id="room-new-item-input" class="form-control" placeholder="Item Name...">
                <input value="{{room.id}}" id="apt-item-input-id" hidden/>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" id="add-item-btn" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <script>
    $(document).ready(function () {
      // Define Input Variables
      let addItemBtn = document.getElementById('add-item-btn');
      //const newItemBtn = document.getElementById('new-item-btn');
      let updateRoomInfoBtn = document.getElementById('update-room-info-btn');
      let updateRoomItemsBtn = document.getElementById('btn-update-room-items');
      const updateRoomPricesBtn = document.getElementById('btn-room-price-update');
      //const addRoomPrice = document.getElementById('btn-room-price-add');
      const imgPreview = document.getElementById('img-preview');
      const updateRoomImagesBtn = document.getElementById('btn-update-room-images');

      var fileSelect = document.getElementById('file-select');
      var uploadButton = document.getElementById('upload-button');

      let selectedRoomImages = [];
      var totalNumberOfImages;
      $("#main-details-form input[type=text]").click(function() { 
        $("#update-room-info-btn").show();  
       })

       $("#room-items-form input[type=text]").click(function() { 
        $("#btn-update-room-items").show();  
       })

       $("#room-items-form input[type=checkbox]").click(function() {
        $("#btn-update-room-items").show();
      
       });

      function getBase64Image(file) {
        var reader = new FileReader();

        reader.addEventListener("load", function () {
          imgPreview.src = reader.result;

        }, false);

        if (file) {
          reader.readAsDataURL(file);
        }
      }
      fileSelect.addEventListener('change', function onImageChange() {
        $("#upload-button").show();
        const test = $('#file-select')
        const fileType = test[0].files[0].type;
        switch (fileType) {
          case 'image/jpeg':
            getBase64Image(test[0].files[0]);
            break;
          default:
            console.log('NOT OKAY')
        }
      })

      uploadButton.addEventListener('click', function uploadImage(e) {
        e.preventDefault();
        const test = $('#file-select')
        console.log('THIS IS THE TEST:', test[0].files[0])
        let formData = new FormData();
        formData.append('file', test[0].files[0])
        formData.append('form_type', "room")
        formData.append('id', document.getElementById('room-id').value)
        $.ajax({
          type: 'POST',
          url: '/admin/room/api/v1/img_upload/{{room.id}}',
          headers: {
            "X-CSRFToken": $('meta[name=csrf-token]').attr('content'),
          },
          contentType: false,
          processData: false,
          data: formData,
          success: function (response) {
            if (response.success) {
              location.reload()
            }
            else {
              alert(response.data.msg)
            }
          },
          error: function (error) {
            console.log(error);
          }
        });
      });

      let chkboxCount2 = 1; // Used to dynamically name checkbox ID
      $("#del-room-img-chkbox :input[type=checkbox]").each(function () {
        $(this).attr('id', 'chkbox-id-' + chkboxCount2);
        $(this).bind('change', function () {
          
          if ($(this)[0].checked) {
            let object = {
              imgID: $(this)[0].value,
              checked: $(this)[0].checked,
              imgURL: $(this)[0].getAttribute('data-url'),
            }
            selectedRoomImages.push(object);
            object = {};
          } else {
            for (var i = 0, len = selectedRoomImages.length; i < len; i++) {
              if ($(this)[0].value == selectedRoomImages[i].imgID) {
                selectedRoomImages.splice(i, 1);
              }
            }
          }

          if (selectedRoomImages.length == 0) {
            $('#btn-update-room-images').attr('disabled', true);
          }
          if (selectedRoomImages.length > 0) {
            $('#btn-update-room-images').attr('disabled', false);
          }
        });
        chkboxCount2++;
        totalNumberOfImages = chkboxCount2;
        console.log(selectedRoomImages.length)
      });

      addItemBtn.addEventListener('click', function submitAddItemForm(e) {
        e.preventDefault();
        $.ajax({
          type: 'POST',
          url: '/admin/room/api/v1/add_new_item/{{room.id}}',
          headers: {
            "X-CSRFToken": $('meta[name=csrf-token]').attr('content'),
            'Content-Type': 'application/json'
          },
          data: JSON.stringify({
            formType: 'add_item',
            data: {
              item_name: document.getElementById('room-new-item-input').value,
              item_desc: "",
            }
          }),
          success: function (response) {
            if (response.success) {
              location.reload()
            }
            else {
              alert('MISSING PARMS')
            }

          },
          error: function (error) {
            console.log(error);
          }
        });
      });

      updateRoomInfoBtn.addEventListener('click', function submitUpdateRoomInfo(e) {
        e.preventDefault();
        $.ajax({
          type: 'POST',
          url: '/admin/room/api/v1/update_info/{{room.id}}',
          headers: {
            "X-CSRFToken": $('meta[name=csrf-token]').attr('content'),
            'Content-Type': 'application/json'
          },
          data: JSON.stringify({
            formType: 'main_details',
            data: {
              name: document.getElementById('room-name').value,
              desc: document.getElementById('room-desc').value,
              info: document.getElementById('room-info').value,
            }
          }),
          success: function (response) {

            if (response.success) {
              location.reload()
            }
            else {
              alert('MISSING PARAMS')
            }

          },
          error: function (error) {
            // consolekji..log(error);
          }
        });
      });

      updateRoomItemsBtn.addEventListener('click', function test(e) {
        e.preventDefault();
        let itemData = [];
        let object = {};
        let count = 0;
        $("#room-items-form :input").each(function () {
          var input = $(this); // This is the jquery object of the input, do what you will
          console.log('cool', input[0])
          count++
          if (input[0].id === "room-item-input") {
            object.itemName = input[0].value;
          }
          if (input[0].id === "chk-box-item-del") {
            let checked = input[0].checked;
            object.checked = input[0].checked;
          }
          if (input[0].id === "room-item-input-id") {
            object.itemID = input[0].value;
          }
          if (count % 3 === 0) {
            itemData.push(object);
            object = {};
          }
        });
        $.ajax({
          type: 'POST',
          url: '/admin/room/api/v1/update_items/{{room.id}}',
          headers: {
            "X-CSRFToken": $('meta[name=csrf-token]').attr('content'),
            'Content-Type': 'application/json'
          },
          data: JSON.stringify({
            formType: 'update_items',
            data: itemData
          }),
          success: function (response) {
            if (response.success) {
              location.reload()
            }
            else {
              alert('MISSING PARAMS')
            }

          },
          error: function (error) {
            console.log(error);
          }
        });
      });

      updateRoomPricesBtn.addEventListener('click', function test(e) {
        e.preventDefault();
        let priceData = [];
        let count = 0;
        let object = {};
        $("#room-prices-form :input").each(function () {
          var input = $(this); // This is the jquery object of the input, do what you will
          console.log(input[0])
          count++
          if (input[0].id === "room-capacity") {
            object.roomCapacity = input[0].value;
          }
          if (input[0].id === "room-price") {
            object.roomPrice = input[0].value;
          }
          if (input[0].id === "room-price-id") {
            object.roomPriceID = input[0].value;
          }
          if (input[0].id === "chk-box-price-del") {
            let checked = input[0].checked;
            object.checked = input[0].checked;
          }
          if (count % 4 === 0) {
            priceData.push(object);
            object = {};
          }
        });
        $.ajax({
          type: 'POST',
          url: '/admin/room/api/v1/update_prices/{{room.id}}',
          headers: {
            "X-CSRFToken": $('meta[name=csrf-token]').attr('content'),
            'Content-Type': 'application/json'
          },
          data: JSON.stringify({
            formType: 'update_room_prices',
            data: priceData
          }),
          success: function (response) {
            console.log(response)
            if (response.success) {
              location.reload()
            }
            else {
              alert('MISSING PARAMS')
            }

          },
          error: function (error) {
            console.log(error);
          }
        });
      });

      updateRoomImagesBtn.addEventListener("click", (e) => {
        $.ajax({
          type: 'POST',
          url: '/admin/room/api/v1/image/remove/{{room.id}}',
          headers: {
            "X-CSRFToken": $('meta[name=csrf-token]').attr('content'),
            'Content-Type': 'application/json'
          },
          data: JSON.stringify({
            formType: 'update_room_images',
            data: selectedRoomImages
          }),
          success: function (response) {
            console.log("RESPONSE", response)
            location.reload()
          },
          error: function (error) {
            console.log(error);
          }
        });
      });
    });
  </script> {% endblock %}