{% extends "layouts/web_base.html" %}
{% block content %}
<div class="bodyWrapper container-fluid">
        <div class="transparentDiv container-fluid">
            <div class="titleDiv col-xs-12">
                <h1 class="pageTitle">ABOUT US</h1>
            </div>
            <div class="col-xs-12" style="padding: 0;">
                <img src="{{ url_for('static', filename='images/layout/panorama.jpg') }}" class="aboutUsBanner" />
            </div>
            <div class="aboutUsRowWrapper col-xs-12">
                <div class="col-xs-12 text-center aboutUsSubTitle pageYellowSubTitle">
                    "Come as a Guest, leave as a Friend"
                </div>
                <div class="col-md-5 col-md-offset-1 aboutUsColWrapper">
                    <div class="text-center aboutUsSubTitle">
                        SABANG HISTORY
                    </div>
                    <p class="text-center">Sabang Inn Dive Resort has been established in 1997, and initially managed by German national Gunter and partners. In late 2008 the hotel management was taken over by his son Daniel Gensheimer, whom of which has been in charge up until now to ensure that your stay is most enjoyable.
                        <br/>
                        <br/> The resort is conveniently located right in the centre of the eastern part of Sabang Beach, which is just a walking distance from the ferry passenger terminal and jeepney stops, and just a stone throw away from all major attractions of Sabang Village on the northern tip of Mindoro Island, making it easy to reach the popular destinations while you enjoy your stay at Sabang Inn.</p>
                </div>
                <div class="col-md-1 divider">
                </div>
                <div class="col-md-5 aboutUsColWrapper">
                    <div class="text-center aboutUsSubTitle">
                        WHAT WE OFFER
                    </div>
                    <p class="text-center">The hotel facilities offer good value accommodation in spacious rooms with sea view, balcony, air conditioning unit, cable TV, hot and cold shower, and wireless Internet access. A beachfront restaurant next to a freshwater swimming pool is serving international and local dishes at very reasonable prices.
                    <br/>
                    <br/>Furthermore, highly experienced instructors and divemasters offer professional services and courses of all levels at the fully equipped dive centre. For more than a decade, Sabang Inn Dive Resort has been rendering its friendly and efficient service to thousands of satisfied guests, and a large number of these visitors use to come back again and again. We are looking forward to welcome you at Sabang Inn Dive Resort.</p>
                </div>
            </div>
        </div>
{% endblock %}