{% extends "layouts/web_base.html" %}

{% block content %}
<div class="bodyWrapper rooms">
        <div class="transparentDiv">
            <div class="titleDiv col-xs-12">
                <h1 class="pageTitle">ACCOMODATIONS&nbsp;&nbsp;&#8226;&nbsp;&nbsp;APARTMENTS</h1>
            </div>
            <div class="mainContent col-xs-12">
                <div class="roomPageDesc col-xs-12">
                    <h1>Apartment Details</h1>
                    <div class="row">
                        <div class="col-md-9 roomPageDesc1 col-xs-12">
                            <p>For our long stay guests we have also small fully furnished studio-type apartments or big fully furnished apartments to offer.</p>
                            <p>Sabang Inn Apartments are only a 100 meter walk away from Sabang Inn Resort. They are as well situated facing the seaside and due to its uphill location they offer a spectacular sea view.</p>
                        </div>
                    </div>
                </div>
                {% for room in apartments %}
                    {% set outer_loop = loop %}
                    <div class="rm-wrapper">
                        {% for img in room['images'] %}
                            {% if loop.index == 1 %}
                                <a class="rm-img-wrapper" href="{{img.img_url}}" data-lightbox="room{{outer_loop.index}}" data-title="{{room.room_info.name}}">
                                    <img src="{{img.img_url}}" />
                                </a>
                            {% else %}
                                <a href="{{img.img_url}}" data-lightbox="room{{outer_loop.index}}" data-title="{{room.room_info.name}}"></a>
                            {% endif %}
                        {% endfor %}
                        <div class="rm-desc-wrapper">
                            <div class="rm-title"> 
                                <div class="rm-title-txt">
                                    <h3>{{room.room_info.name}}</h3>
                                </div>
                                <div class="rm-title-price">
                                    {{room.prices[0].price}} / Month
                                </div>
                            </div>
                            <div class="rm-desc-body">
                                <div class="rm-desc-txt">
                                    <p>{{room.room_info.info}}</p>   
                                    <p>{{room.room_info.description}}</p>
                                    <strong class="blue">Inclusions:</strong>
                                </div>
                                <div class="rm-include">
                                    <ul>
                                        {% for item in room['items'] %}
                                            <li>{{item.item}}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
{% endblock %}