{% extends "layouts/web_base.html" %} {% block content %}
<div class="bodyWrapper container-fluid">
    <div class="transparentDiv container-fluid">
        <div class="titleDiv col-xs-12">
            <h1 class="pageTitle">CONTACT US</h1>
        </div>
        <div class="success-banner col-sm-12">
            {% for message in get_flashed_messages() %}
                <div class="success-txt text-center">{{ message }}</div>
            {% endfor %}
        </div>
        <div class="googleMapDiv col-xs-12">
            <div class="googleMap">
                <div id='gmap_canvas'>
                    <iframe width="100%" height="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAsyaA6PkbRruNpH4OYPtcM56rkpZvTTYM
              &q=Sabang+Inn+Beach+Resort" allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
        <div class="col-xs-12 contactInfoRow">
            <div class="col-md-3 col-xs-12 contactInfoCol">
                <div class="contactWrapper">
                    <div class="col-md-12 col-sm-4 col-xs-12 addressRow contactInfo">
                        <div class="col-lg-12 container-fluid">
                            <div class="col-lg-5 col-sm-7 col-xs-9 container-fluid">
                                <p class="pageBlueSubTitle contactPageBlueSub">ADDRESS</p>
                            </div>
                            <div class="col-lg-4 col-sm-5 col-xs-3">
                                <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-lg-12 container-fluid">
                            <p class="contactInfoText">Sabang Inn Beach
                                <br/> 5203 Puerto Galera
                                <br/> Oriental Mindoro
                                <br/> Philippines</p>
                        </div>
                    </div>
                </div>
                <div class="contactWrapper">
                    <div class="col-md-12 col-sm-4 col-xs-12 phoneRow contactInfo">
                        <div class="col-lg-12 container-fluid">
                            <div class="col-lg-5 col-sm-7 col-xs-9 container-fluid">
                                <p class="pageBlueSubTitle contactPageBlueSub">PHONE</p>
                            </div>
                            <div class="col-lg-4 col-sm-5 col-xs-3">
                                <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-lg-12 container-fluid">
                            <p class="contactInfoText">Tel Landline: +63 43 2873 198
                                <br/> Mobile: +63 917 572 6123 (Manager)</p>
                        </div>
                    </div>
                </div>
                <div class="contactWrapper">
                    <div class="col-md-12 col-sm-4 col-xs-12 emailRow contactInfo">
                        <div class="col-lg-12 container-fluid">
                            <div class="col-lg-5 col-sm-7 col-xs-9 container-fluid">
                                <p class="pageBlueSubTitle contactPageBlueSub">E-MAIL</p>
                            </div>
                            <div class="col-lg-4 col-sm-5 col-xs-3">
                                <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-lg-12 container-fluid">
                            <p class="contactInfoText">info@sabanginn.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-11 col-xs-12 contacFormCol container-fluid">
                <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                    <p class="pageBlueSubTitle contactFormTitle">WE WOULD LOVE TO HEAR FROM YOU</p>
                    <p>Please don't hesitate to contact us for more infomation about our services, make a booking or just have
                        some questions & comments we value our guests oppinions and we would love to hear from you.</p>
                </div>
                <div class="col-lg-12">
                    <form class="form-horizontal" method="post" action="{{ url_for('website.contact_us') }}">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label" style="margin-top: 20px;">{{ form.email.label }}</label>
                            <div class="col-sm-10">
                                {% for message in form.email.errors %}
                                    <div class="error-msg-text">{{ message }}</div>
                                {% endfor %} 
                                {{ form.email(class_="form-control") }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message" class="col-sm-2 control-label" style="margin-top: 20px;">{{ form.message.label }}</label>
                            <div class="col-sm-10">
                            {% for message in form.message.errors %}
                                <div class="error-msg-text col-sm-offset-2">{{ message }}</div>
                            {% endfor %}
                            {{ form.message(class_="form-control") }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary pull-right">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}