<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <style>
            body {font-family: 'Montserrat', sans-serif;}
            a {color: chocolate; }
        </style>
    </head>
    <body>
        <table
            style="
            border-collapse: collapse;
            width: 100%;
            text-align: center;
            font-family: sans-serif;
            color: #666;">
            <tr>
                <td rowspan="5" style="background: #f5f4f2; width: 5%;"></td>
                <td style="background: #f5f4f2; height: 20px;"></td>
                <td rowspan="5" style="background: #f5f4f2; width: 5%;"></td>
            </tr>
            <tr>
                <td
                style="
                background: #fff;
                color: #333;
                font-size: 2em;
                padding: 60px 60px 40px 60px;">
                General Inquiry Message
                </td>
            </tr>
            <tr>
                <td
                style="
                background: #fff;
                padding: 0 20px 40px 20px;
                line-height: 1.5em;">
                <h3>Customer Email: {{ customer_email }},</h3>
                <br/><br/>
                <h4>Message Body</h4>
                <br/><br/>
                {{ customer_message }}
                </td>
            </tr>
            </table>
    </body>
</html>