{% extends "layouts/web_base.html" %} {% block content %}
<div class="bodyWrapper container-fluid">
    <div class="transparentDiv container-fluid">
        <div class="titleDiv col-xs-12">
            <h1 class="pageTitle">DIVING</h1>
        </div>
        <div class="mainContent">
            <div class="col-lg-12">
                <h1>Sabang Divers</h1>
                <p>We have a long tradition in attracting divers from all over the world to stay in our resort and to dive with
                    us - it is a blend of perfect location with a beach front atmosphere - a friendly staff and, of course
                    diving, diving and more diving.</p>
                <p>All of our Instructors are also PADI & SSI certified and can teach and certify PADI & SSI courses from beginner
                    to Divemaster, if desired. Instructor Continuing Education courses are possible, too. PADI & SSI certifications
                    are also accepted around the world.</p>
                <br />
            </div>
            <div class="col-lg-12">
                <img src="{{ url_for('static', filename='images/layout/diving2.jpg') }}" alt="" width="100%">
            </div>
            <div class="col-lg-6 col-lg-offset-3 text-center" style="padding-top: 40px;">
                <img src="{{ url_for('static', filename='images/layout/diving-padi.png') }}" alt="" height="50px" style="padding-right:10px">
                <img src="{{ url_for('static', filename='images/layout/diving-ssi.png') }}" alt="" height="40px" style="padding-left:10px">
            </div>
            <div style="padding-top: 20px;">
                <div class="col-lg-6 col-xs-12">
                    <h2 class="txt-script">Diving Center</h2>
                    <p>We are a popular diving oriented resort exisiting for over 17 years, equipped with state of the art facilities
                        and equipment.</p>
                    <ul style="line-height: 30px;">
                        <li>A practice pool in front of the hotel for beginners</li>
                        <li>42 dive sites provide conditions for all experience levels and areas of interests</li>
                        <li>Newest branded equipments including Apeks, Aqualung and Cressi to ensure the safety of the guests.</li>
                        <li>Speedboats that will take you to your dive destination in no time</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-xs-12" style="padding-top: 30px;">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">

                            <div class="item active">
                                <img src="{{ url_for('static', filename='images/layout/divingcar1.jpg') }}" alt="">
                            </div>

                            <div class="item">
                                <img src="{{ url_for('static', filename='images/layout/divingcar2.jpg') }}" alt="">
                            </div>

                            <div class="item">
                                <img src="{{ url_for('static', filename='images/layout/divingcar3.jpg') }}" alt="">
                            </div>


                            <div class="item">
                                <img src="{{ url_for('static', filename='images/layout/dive1.jpg') }}" alt="">
                            </div>


                            <div class="item">
                                <img src="{{ url_for('static', filename='images/layout/dive2.jpg') }}" alt="">
                            </div>

                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="fa fa-arrow-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="fa fa-arrow-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div style="padding-top: 30px;">
                <div class="col-lg-4 col-xs-12" style="padding-top: 40px;">
                    <img src="{{ url_for('static', filename='images/layout/diving-eq.jpg') }}" alt="" width="100%">
                </div>
                <div class="col-lg-8 col-xs-12">
                    <h2 class="txt-script">Diving Equipment</h2>
                    <div class="rm-include">
                        <ul style="columns: auto; line-height: 30px">
                            <li>17 compl. sets of dive equipment w/ computers</li>
                            <li>3 Dive speed boat</li>
                            <li>1 Compressor</li>
                            <li>1 Nitrox Compressor</li>
                            <li>60 12L Aluminium Tanks</li>
                            <li>4 15L Aluminium Tanks</li>
                            <li>2 outdoor freshwater showers</li>
                            <li>Emergency Medical & Oxygen Kit</li>
                            <li>UW-Camera Equipment</li>
                            <li>UW-Lamps</li>
                            <li>Freshwater Training Pool</li>
                        </ul>
                    </div>
                </div>
            </div>
            <a href="{{ url_for('website.packages') }}">
                <h2 class="txt-script text-center">View Our Packages</h2>
            </a>
        </div>
    </div>
    {% endblock %}