{% extends "layouts/web_base.html" %}

{% block content %}
    <section class="mainBody">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="custom-sub">
                <div class="line-one">
                    "Arrive as a Guest,
                </div>
                <div class="line-two">
                    Leave as a Friend"
                </div>
            </div>
            
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                <img src="{{ url_for('static', filename='images/carousel/bg4.jpg') }}" alt="">
                </div>

                <div class="item">
                <img src="{{ url_for('static', filename='images/carousel/bg2.jpg') }}" alt="">
                </div>

                <div class="item">
                <img src="{{ url_for('static', filename='images/carousel/bg1.jpg') }}" alt="">
                </div>

                <div class="item">
                <img src="{{ url_for('static', filename='images/carousel/bg3.jpg') }}" alt="">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="fa fa-arrow-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="fa fa-arrow-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="mainBodyContent container-fluid">
            <div class="bodyDivider container-fluid">
                <div class="col-xs-5 dividerOne container-fluid">
                </div>
                <div class="col-xs-2 divArrow text-center container-fluid">
                    <div class="arrowDown">
                        <a href="#section1" class="fa fa-3x fa-arrow-circle-down"></a>
                    </div>
                </div>
                <div class="col-xs-5 dividerOne container-fluid">
                </div>
            </div>
            <section class="firstRowAboutUs container-fluid">
                <div id="section1" class="container-fluid col-xs-12 aboutUsWrapperDiv">
                    <div class="container-fluid aboutUsTextDiv col-md-5 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="200ms">
                        <div class="textWrapper">
                            <h1 class="txt-script">About Us</h1>
                            <br/>
                            <p class="aboutUsDesc">
                                Sabang Inn Beach Resort is located directly on the beach of Sabang in Puerto Galera, on the island of Mindoro in the Philippines. Our small family-style run hotel offers many of the amenities of a larger hotel but with an atmosphere that makes you feel "among friends".
                            </p>
                            <a href="/about_us" class="btn btn-default btnFindOutMore">FIND OUT MORE</a>
                        </div>
                    </div>
                    <div class="container-fluid aboutUsImage col-md-7 col-sm-6 col-xs-12">
                    </div>

                </div>
            </section>
            <div class="bodyDivider2 container-fluid">
                <h2>ROOMS AND APARTMENTS</h2>
            </div>
            <section class="secondRowRoomImages container-fluid">
                <div class="container-fluid col-xs-12 roomsWrapperDiv">
                    <div class="container-fluid col-md-5 roomsGallery">
                        <!--<div class="container-fluid gallery">-->
                        <div class="container-fluid col-xs-12 col-md-12">
                            <a class="container-fluid example-image-link col-xs-6" href="{{ url_for('static', filename='images/lightbox/Img/room1.jpg') }}" data-lightbox="example-set" data-title="">
                                <div class="thumb2 thumbSize">
                                    <img src="{{ url_for('static', filename='images/lightbox/Img/thumb1.jpg') }}" />
                                </div>
                            </a>
                            <a class="container-fluid example-image-link col-xs-6" href="{{ url_for('static', filename='images/lightbox/Img/room2.jpg') }}" data-lightbox="example-set" data-title="">
                                <div class="thumb2 thumbSize">
                                    <img src="{{ url_for('static', filename='images/lightbox/Img/thumb2.jpg') }}" />
                                </div>
                            </a>
                        </div>
                        <div class="container-fluid col-xs-12 col-md-12">
                            <a class="container-fluid example-image-link col-xs-6" href="{{ url_for('static', filename='images/lightbox/Img/room3.jpg') }}" data-lightbox="example-set" data-title="">
                                <div class="thumb3 thumbSize">
                                    <img src="{{ url_for('static', filename='images/lightbox/Img/thumb3.jpg') }}" />
                                </div>
                            </a>
                            <a class="container-fluid example-image-link col-xs-6" href="{{ url_for('static', filename='images/lightbox/Img/room4.jpg') }}" data-lightbox="example-set" data-title="">
                                <div class="thumb4 thumbSize">
                                    <img src="{{ url_for('static', filename='images/lightbox/Img/thumb4.jpg') }}" />
                                </div>
                            </a>
                        </div>
                        <!--</div>-->
                    </div>

                    <div class="container-fluid col-md-7 col-xs-12 roomsText">
                        <div class="container-fluid roomsTextDiv wow fadeIn" data-wow-duration="1s" data-wow-delay="200ms">
                            <div class="col-xs-12 container" style="height:100%; width:100%; padding: 0;">
                                <div class="col-sm-6 col-xs-12 halfRoomsTextDiv">
                                    <div class="roomTextWrapper">
                                        <h1 class="txt-script">Room Accomodation</h1>
                                        <br/>
                                        <p class="roomTextPara">
                                            The rooms are comfortably furnished in traditional Filipino style to fit into the relaxed atmosphere of the resort and surrounding community. Air-conditioning and a fan in each room allow an individual adjustment for your comfort.
                                        </p>
                                        <a href="/rooms" class="btn btn-default btnFindOutMore">FIND OUT MORE</a>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12 halfRoomsTextDiv">
                                    <div class="roomTextWrapper">
                                        <h1 class="txt-script">Long Stay Option</h1>
                                        <br/>
                                        <p class="roomTextPara">
                                            For our long stay guests we have also small fully furnished studio-type apartments or big fully furnished apartments to offer.
                                            <br/> Sabang Inn Apartments are only a 100meter walk away from Sabang Inn Resort.
                                        </p>
                                        <a href="/apartments" class="btn btn-default btnFindOutMore">FIND OUT MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="thirdRow container-fluid">
                <div class="container-fluid col-md-12 aboutUsWrapperDiv">
                    <div class="col-md-4 col-xs-12 container-fluid snorkDiv flip-container1" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper1">
                            <div class="front1" style="">
                                <h1>SNORKELING</h1>
                                <img src="{{ url_for('static', filename='images/layout/snorkel.jpg') }}" />
                            </div>
                            <div class="back1">
                                <p>You don't have to be a scuba diver to enjoy the ocean! Just grab a pair of fins and a mask and have a great time watching things from the surface.</p>
                                <div class="knowMoreDiv">
                                    <a href="/packages" class="btn btn-default knowMoreButton">MORE INFORMATION</a>
                                </div>
                                <img src="{{ url_for('static', filename='images/layout/snorkelDark.jpg') }}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 container-fluid kayakDiv flip-container2" ontouchstart="this.classList.toggle('hover')">
                        <div class="flipper2">
                            <div class="front2">
                                <h1>TOURS</h1>
                                <img src="{{ url_for('static', filename='images/layout/kayak.jpg') }}" style="width:100%; height: 100%;" />
                            </div>
                            <div class="back2">
                                <p>Various day or overnight trekking tours to the various attractions of Puerto Galera or through the jungle can be arranged through a local operator.</p>
                                <div class="knowMoreDiv">
                                    <a href="/packages" class="btn btn-default knowMoreButton">MORE INFORMATION</a>
                                </div>
                                <img src="{{ url_for('static', filename='images/layout/kayakDark.jpg') }}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 container-fluid diveDiv flip-container3" ontouchstart="this.classList.toggle('hover')">
                        <div class="flipper3">
                            <div class="front3">
                                <h1>DIVING</h1>
                                <img src="{{ url_for('static', filename='images/layout/dive.jpg') }}" style="width:100%; height: 100%;" />
                            </div>
                            <div class="back3">
                                <p>If you want to find out what it's like to be a fish, we'll show you how. Get ready for the experience of your lifetime!</p>
                                <div class="knowMoreDiv">
                                    <a href="/packages" class="btn btn-default knowMoreButton">MORE INFORMATION</a>
                                </div>
                                <img src="{{ url_for('static', filename='images/layout/diveDark.jpg') }}" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--<div class="bodyDivider sayingAboutUs container-fluid">
                <div class="col-sm-7 col-xs-12 dividerTwo container-fluid">
                    <h3>WHAT PEOPLE ARE SAYING ABOUT US . . .</h3>
                </div>
                <div class="col-sm-5 col-xs-12 divArrow divIcons container-fluid dividerTwo">
                    <div class="col-lg-2 col-md-3 col-xs-4 iconSocial">
                        <a class="fa fa-3x fa-tripadvisor"></a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-xs-4 iconSocial">
                        <a class="fa fa-3x fa-facebook-official"></a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-xs-4 iconSocial">
                        <a class="fa fa-3x fa-twitter"></a>
                    </div>
                </div>
            </div>-->
        </div>
    </section>
{% endblock %}

