{% extends "layouts/web_base.html" %}
{% block content %}
<div class="bodyWrapper container-fluid">
        <div class="transparentDiv container-fluid">
            <div class="titleDiv col-xs-12">
                <h1 class="pageTitle">PACKAGES</h1>
            </div>
            <iframe
                class="package-pdf"
                src="https://docs.google.com/viewer?srcid=0B70kbTg1H6XzTnRCOWRGbFY1MEE&pid=explorer&efh=false&a=v&chrome=false&embedded=true" >
            </iframe>
        </div>
{% endblock %}