{% extends "layouts/web_base.html" %}
{% block content %}
<div class="bodyWrapper container-fluid">
        <div class="transparentDiv container-fluid">
            <div class="titleDiv col-xs-12">
                <h1 class="pageTitle">Mangostein</h1>
            </div>
            <div class="restobg">
                <div class="resto-main-title-section">
                    <img src="{{ url_for('static', filename='images/mango_logo.png') }}" style="height:250px;"/>
                    <div class="resto-slogan">Fine dining, by the beach...</div>
                    <img src="{{ url_for('static', filename='images/coming_soon_logo.png') }}"/>
                </div>
            </div>
        </div>
{% endblock %}