{% extends "layouts/web_base.html" %}

{% block content %}
<div class="bodyWrapper rooms">
        <div class="transparentDiv">
            <div class="titleDiv col-xs-12">
                <h1 class="pageTitle">ACCOMODATIONS&nbsp;&nbsp;&#8226;&nbsp;&nbsp;ROOMS</h1>
            </div>
            <div class="mainContent col-xs-12">
                <div class="roomPageDesc col-xs-12">
                    <h1>Room Details</h1>
                    <div class="row">
                        <div class="col-md-9 roomPageDesc1 col-xs-12">
                            <p>Sabang Inn's rooms are comfortably furnished in traditional Filipino style to fit into the relaxed atmosphere of the resort and surrounding community.</p>
                            <p>All rooms feature a private tiled bathroom and are equipped with a hot shower, we also provide both
                                air-conditioning and a fan in each room to allow you to adjust the environment according to your comfort.</p>
                            <p>The rooms are just a stone throws distance from the beach, providing you with a magnificent view of the bay in front of the resort,
                                which invites you just to jump into the ocean.</p>
                        </div>
                    </div>
                </div>
                {% for room in rooms %}
                    {% set outer_loop = loop %}
                    <div class="rm-wrapper">
                        {% for img in room['images'] %}
                            {% if loop.index == 1 %}
                                <a class="rm-img-wrapper" href="{{img.img_url}}" data-lightbox="room{{outer_loop.index}}" data-title="Press the arrow keys to navigate">
                                    <img src="{{img.img_url}}" />
                                </a>
                            {% else %}
                                <a href="{{img.img_url}}" data-lightbox="room{{outer_loop.index}}" data-title="Press the arrow keys to navigate"></a>
                            {% endif %}
                        {% endfor %}
                        <div class="rm-desc-wrapper">
                            <div class="rm-title"> 
                                <div class="rm-title-txt">
                                    <h3>{{room.room_info.name}}</h3>
                                </div>
                                <div class="rm-title-price">
                                    {{room.prices[0].price}} / night
                                </div>
                            </div>
                            <div class="rm-desc-body">
                                <div class="rm-desc-txt">
                                    <p>{{room.room_info.info}}</p>   
                                    <p>{{room.room_info.description}}</p>
                                    <strong class="blue">Inclusions:</strong>
                                </div>
                                <div class="rm-include">
                                    <ul>
                                        {% for item in room['items'] %}
                                            <li>{{item.item}}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="roomPageDesc col-xs-12">
                    <div class="col-xs-12 extrasInfo">
                        <h2>Additional Prices</h2>
                        <table>
                            <tr>
                                <td class="tdHead" style="border-right: 1px solid white;">
                                    <h4>Extra Person</h4>
                                </td>
                                <td class="tdHead">
                                    <h4>Kitchen w/ Utensils</h4>
                                </td>
                            </tr>
                            <tr>
                                <td class="tdBody" style="border-right: 1px solid white;">Php 200</td>
                                <td class="tdBody">Php 150</td>
                            </tr>
                        </table>
                        <p>
                            <br/>
                            <font class="dateRate">&#8226; High Season:</font> 1 October – 31 May
                            <br/><font class="dateRate">&#8226; Low Season:</font> 1 June - 31 September (Inquire for discounted rates)
                            <br/><font class="dateRate">&#8226; Holidays:</font> Rates during Christmas, New Year, Chinese New Year & Easter are 20% higher
                        </p>
                        <p style="font-size: 12px;">* Prices are subject to change without prior notice</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
{% endblock %}